<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/07b99dca-de4d-4585-a944-a4ce7a111369/resourceGroups/JokeApi20210813122828ResourceGroup/providers/Microsoft.Web/sites/PhilipGeil-JokeApi</ResourceId>
    <ResourceGroup>JokeApi20210813122828ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/07b99dca-de4d-4585-a944-a4ce7a111369/resourceGroups/JokeApi20210813122828ResourceGroup/providers/Microsoft.ApiManagement/service/JokeApi/apis/jokeapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://philipgeil-jokeapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>121a4210-ce7f-49ac-b4e6-683f1c7f374a</ProjectGuid>
    <MSDeployServiceURL>philipgeil-jokeapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PhilipGeil-JokeApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$PhilipGeil-JokeApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>